.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  width: 100%;
  top: 0;
  left :0%;
  position: fixed;
  z-index: 1000;  
  flex-wrap: wrap;
  margin:0%;
  padding: 0%;
}

.navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-right: 40px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.navbar-links a:hover {
  text-decoration: underline;
}
