.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  top: 0;
  left :0%;
  position: fixed;
  z-index: 1000;  
  flex-wrap: wrap;
  margin:0%;
  padding: 0%;
}
.navbar-brand img {
  width: 50px;
  height: 100%;
margin: 0%;
padding: 0%;
vertical-align: middle;
line-height: 0;
}

.navbar-brand link {
  justify-content: flex-end;
  width: 50px;
  height: 100%;
}

.navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  bottom: 0%;
  top: 0%;
}
.navbar-title {
  justify-content: left;
  margin-left: 10px;
  padding: 0%;
  text-align: left;
  color: #0b0b0b;
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-right: 40px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: #0b0b0b;
  text-decoration: none;
  font-size: 1em;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-links button {
  background-color: #fff;
  color: #0b0b0b;
  border: none;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
}

.navbar-links button:hover {
  text-decoration: underline;
}


.notification {
  position: fixed; 
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0efed;
  color: #211e21;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(170, 222, 237);
  z-index: 1000;
  animation: fadeInOut 5s ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}

.profile-menu {
  position: relative;
}

.profile-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  left: -80px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.dropdown-menu button {
  background: none;
  border: none;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
  width: 150px;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}