.book-details-page {
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
  min-height: 100vh;
  background-image: url('https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg');
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

.about {
  text-align: justify;
}

.book-details-page h1 {
  color: #fff;
 
}

.book-details-page p {
  color: #fff;
  font-size: 1.2em;
}

.book-image {
  max-width: 200px;
  max-height: 400px;
  margin-bottom: 20px;
}

.reviews {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}

.reviews h2 {
  margin-top: 0;
  color: #fff;
}

.reviews ul {
  list-style: none;
  padding: 0;
}

.reviews li {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid;
}

.reviews li:last-child {
  border-bottom: none;
}

.reviews p {
  margin: 5px 0;
  color: #fff;
  text-align: justify;
}

.add-review-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #027742;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-review-button:hover {
  background-color: #027742;
}

.warning {
  color: red;
  margin-top: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.modal-content textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  resize: vertical;
}

.modal-content input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #027742;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #027742;
}
