.homepage {
  display: flex;
  background-image: url('https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg');
  background-size: cover;
  background-position: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 /* padding: 20px;  */
  overflow-y: auto; 
  bottom: 0;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  
  padding-bottom: 0%;
  margin-bottom: 0%; 
}
.main-content h1,p {
  margin-top: 0;
  color: #fff;
} 

.search-bar {
  display: flex;
  margin-top: 20px;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 300px;
}

.search-bar button {
  padding: 10px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #555;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.feature {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.feature h2 {
  margin-top: 0;
}

.feature p {
  margin-bottom: 0;
}
.feature a {
  color: #fff;
}

.about-us {
  text-align: justify;
  min-width: 100%;
  padding-top: 0%;
  margin-top: 0%; 
  margin-bottom: 30px;
  padding: 20px;
}

.about-us h2 {
  margin-top: 0;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.about-us p {
  margin-bottom: 0;
  line-height: 1.6;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  width: 100%;
  z-index: 100;
}

.footer h2 {
  margin-top: 0;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}

.footer .social-links a {
  color: #fff;
  text-decoration: none;
}

.footer .social-links a:hover {
  text-decoration: underline;
}

.footer p {
  margin: 10px 0 0;
}
