.homepage {
  display: flex;
  background-image: url('https://img.freepik.com/free-vector/light-streak-glowing-background-beam-effect_1017-26177.jpg?semt=ais_hybrid');
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0%;
  padding: 0%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;

}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.feature {
  width: 250px; /* Set a consistent width for all feature boxes */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.feature h2 {
  margin-top: 0;
}

.feature p {
  margin-bottom: 0;
}
